:root {
  --button-color: #0f766e;
  --white-color: #fff;
  --delete-button: #dc2626;
  --delete-button-hover: #ef4444;
  --todo-list-bg-color: #1e1b4b;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.container {
  text-align: center;
  align-items: center;
  margin: auto;
}

.done {
  text-decoration: line-through;
  cursor: pointer;
}

input {
  border: none;
  width: 70%;
  padding: 0.4rem;
}

.btn {
  background-color: var(--button-color);
  border: none;
  border-radius: 5%;
  display: inline-block;
  color: var(--white-color);
  padding: 0.4rem;
  margin-left: 0.3rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  font-size: 1.4rem;
  text-transform: capitalize;
  list-style: none;
  padding: 0.4rem;
  background-color: var(--todo-list-bg-color);
  margin-top: 1rem;
  width: 100%;
}
.del-btn {
  background-color: var(--delete-button);
  border: none;
  border-radius: 7%;
  color: var(--white-color);
  padding: 0.5rem;
  margin: 0 0 0 1rem;
}

.del-btn:hover {
  background-color: var(--delete-button-hover);
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.2rem;
  }
  input {
    width: 40%;
  }

  li {
    padding: 1rem;
    width: 40%;
  }
}
