:root {
  --button-color: #0f766e;
  --white-color: #fff;
  --delete-button: #be123c;
  --todo-list-bg-color: #7c3aed;
  --input-border-color: #155e75;
}

h1 {
  color: var(--white-color);
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.container {
  text-align: center;
  align-items: center;
  margin: auto;
}

.done {
  text-decoration: line-through;
  cursor: pointer;
}

input {
  border: 0.15rem solid var(--input-border-color);
  width: 50%;
  min-height: 4vh;
}

.btn {
  background-color: var(--button-color);
  border: none;
  border-radius: 5%;
  color: var(--white-color);
  padding: 0.7rem;
  margin: 0.3rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  font-size: 1.4rem;
  text-transform: capitalize;
  list-style: none;
  padding: 1.2rem;
  background-color: var(--todo-list-bg-color);
  margin: 0.7rem;
  width: 40%;
}
.del-btn {
  background-color: var(--delete-button);
  border: none;
  border-radius: 7%;
  color: var(--white-color);
  padding: 0.5rem;
  margin: 0 0 0 1rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.2rem;
  }
  input {
    min-height: 6vh;
  }
}
