:root {
  --button-color: #0f766e;
  --white-color: #fff;
  --delete-button: #be123c;
}

h1 {
  color: var(--white-color);
  font-size: 2rem;
  text-align: center;
  padding: 3rem;

}

.container {
  text-align: center;
  margin: auto;
}

.done {
  text-decoration: line-through;
  cursor: pointer;
}

input {
  border: 0.15rem solid #1e293b;
  width: 40%;
  min-height: 4vh;
}

.btn {
  background-color: var(--button-color);
  border: none;
  border-radius: 5%;
  color: var(--white-color);
  padding: 0.3rem;
  width: 4rem;
}

li {
  color: var(--white-color);
  font-size: 1.2rem;
  list-style: none;
  padding: 1rem;
  background-color: var(--delete-button);
  margin: 1rem;
}
.del-btn {
  background-color: var(--delete-button);
  border: none;
  border-radius: 5%;
  color: var(--white-color);
  height: 4vh;
  width: 3rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  input {
    min-height: 5vh;
  }
}
